<!DOCTYPE html>
<html>
<head>
    <title>Editar</title>
</head>
<body>

<h1>Editar Livro</h1>

<form method="POST">

Título:<br>
<input type="text" name="titulo" value="{{ livro.titulo }}"><br><br>

Autor:<br>
<input type="text" name="autor" value="{{ livro.autor }}"><br><br>

Ano:<br>
<input type="text" name="ano" value="{{ livro.ano }}"><br><br>

Categoria:<br>
<input type="text" name="categoria" value="{{ livro.categoria }}"><br><br>

Quantidade:<br>
<input type="number" name="quantidade" value="{{ livro.quantidade }}"><br><br>

<button type="submit">Salvar</button>

</form>

</body>
</html>